
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                BLOOD BANK DATABASE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
        	<li><a href="/hospital">Hospital</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/blood_product">Blood Product</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/antigen_history">Antigen History</a></li>
            <li><a href="/antigen">Antigen</a></li>
            <li><a href="/antibody">Antibody</a></li>
        </ul>

    </div>
</nav>


<div class="main">
    <div class="h1ElementWhite">
        <h1> ANTIBODY INFORMATION </h1>
    </div>
    <div class="addForm">
        <h3> ADD ANTIBODY </h3>
        <form id = "addAntibody" action="/antibody" method="post">
            Antibody Name:<br>
            <input type="text" name="antibodyNameInput"><br>
            ImmunoGlobulin Class:<br>
            <input type="text" name="immunoglobulinClassInput"><br>
            Serology:<br>
            <input type="text" name="serologyInput"><br>
            Optimum Temperature:<br>
            <input type="text" name="optimumTemperatureInput"><br>
            Antigen Key:<br>
            <input type="text" name="antigenKeyInput"><br>
            <input type="submit" value="Submit" id="addAntibodiesBtn">
        </form>

        <h3>Antibodies in Database</h3>

        <table border="1" id = "antibodyTable">
        <thead>
            <th>Antibody Name</th>
            <th>Immunoglobulin Class</th>
            <th>Serology</th>
            <th>Optimum Temperature</th>
            <th>Antigen Key</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each antibodies}}
                <tr>
                    <td>{{antibodyName}}</td>
                    <td>{{immunoglobulinClass}}</td>
                    <td>{{serology}}</td>
                    <td>{{optimumTemperature}}</td>
                    <td>{{antigenKey}}</td>
                    <td><button type="button" onclick="deleteAntibody({{antibodyID}})">DELETE</button></td>
                </tr>
            {{/each}}
        </tbody> 
        </table>
    </div>

</div>
