
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                BLOOD BANK DATABASE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
        	<li><a href="/">Hospital</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/blood_product">Blood Product</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/antigen_history">Antigen History</a></li>
            <li><a href="/antigen">Antigen</a></li>
            <li><a href="/antibody">Antibody</a></li>
        </ul>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> BLOOD BANK DATABASE 2018</p>
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="main">
    <div class="h1ElementWhite">
        <h1> ANTIBODY INFORMATION </h1>
    </div>
    <div class="addForm">
        <h3> ADD ANTIBODY </h3>
        <form id = "insert7">
            Antibody Name:<br>
            <input type="text" name="antibodyNameInput"><br>
            ImmunoGlobulin Class:<br>
            <input type="text" name="immunoglobulinClassInput"><br>
            Serology:<br>
            <input type="text" name="serologyInput"><br>
            Optimum Temperature:<br>
            <input type="text" name="optimumTemperatureInput"><br>
            Antigen Key:<br>
            <input type="text" name="antigenKeyInput"><br>
            <input type="submit" value="Submit" id="addAntibodiesBtn">
        </form>

        <h3>Table with update and delete buttons</h3>

        <table border="1" id = "antibodyTable">
        <thead>
            <th>Antibody Name</th>
            <th>Immunoglobulin Class</th>
            <th>Serology</th>
            <th>Optimum Temperature</th>
            <th>Antigen Key</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each results}}
                <tr>
                    <td>{{this.antibodyName}}</td>
                    <td>{{this.immunoglobulinClass}}</td>
                    <td>{{this.serology}}</td>
                    <td>{{this.optimumTemperature}}</td>
                    <td>{{this.antigenKey}}</td>
                    <td><a href="/editTable?id={{this.id}}"><input type="button" type="button" value="edit"></a></td>
                    <td><button type="button" onclick="deleteAntibodiesTableRow({{this.antibodyID}})">DELETE</button></td>
            
                </tr>
            {{/each}}
        </tbody> 
        </table>
    </div>

</div>
