
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                BLOOD BANK DATABASE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
        	<li><a href="/hospital">Hospital</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/blood_product">Blood Product</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/antigen_history">Antigen History</a></li>
            <li><a href="/antigen">Antigen</a></li>
            <li><a href="/antibody">Antibody</a></li>
        </ul>

    </div>
</nav>

<div class="main">
    <div class="h1ElementWhite">
        <h1> BLOOD PRODUCT INFORMATION </h1>
    </div>
    <div class="addForm">
        <h3> ADD BLOOD PRODUCT </h3>
        <form id="addBloodProduct" action="/blood_product" method="post">
            Product Type:<br>
            <input type="text" name="typeProductInput"><br>
            Product ABO/Rh:<br>
            <input type="text" name="productABORhInput"><br>
            Donor Unit ID Bar Code:<br>
            <input type="text" name="donorUnitIDBarCodeInput"><br>
            Donor Unit Product Code:<br>
            <input type="text" name="donorUnitProductCodeInput"><br>
            Unit Arrval (DATE):<br>
            <input type="date" name="unitArrivalInput"><br>
            Unit Expiration (DATE):<br>
            <input type="date" name="unitExpirationInput"><br>
            Unit History:<br>
            <input type="text" name="unitHistoryInput"><br>
            Hospital Source:<br>
            <!-- <input type="text" name="hospitalSourceInput"><br> -->
            <select>
                <option>Memorial Sloan</option>
                <option>Mount Sinai</option>
                <option>Portland Hospital</option>
            </select><br>

            Supplier Source:<br>
            <!-- <input type="text" name="supplierSourceInput"><br> -->
            <select>
                <option>New York Blood Center</option>
                <option>Portland Red Cross</option>
            </select><br>
            <input type="submit" value="Submit" id="addBloodProductBtn">
        </form>

        <h3>All Blood Products in Database</h3>

        <table border="1" id = "bloodProductTable">
        <thead>
            <th>Blood Product Type</th>
            <th>ABO/Rh</th>
            <th>Unit ID</th>
            <th>Product Code</th>
            <th>Arrival Date</th>
            <th>Expiration Date</th>
            <th>Current Status</th>
            <th>Hospital Source</th>
            <th>Supplier Source</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each blood_products}}
                <tr>
                    <td>{{typeProduct}}</td>
                    <td>{{productABORh}}</td>
                    <td>{{donorUnitIDBarCode}}</td>
                    <td>{{donorUnitProductCode}}</td>
                    <td>{{unitArrival}}</td>
                    <td>{{unitExpiration}}</td>
                    <td>{{unitHistory}}</td>
                    <td>{{hospitalSource}}</td>
                    <td>{{supplierSource}}</td>
                    <td><button type="button" onclick="deleteBlood_Product({{productID}})">DELETE</button></td>
                </tr>
            {{/each}}
        </tbody> 
        </table>
    </div>

</div>
