
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                BLOOD BANK DATABASE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
        	<li><a href="/">Hospital</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/blood_product">Blood Product</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/antigen_history">Antigen History</a></li>
            <li><a href="/antigen">Antigen</a></li>
            <li><a href="/antibody">Antibody</a></li>
        </ul>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> BLOOD BANK DATABASE 2018</p>
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="main">
    <div class="h1ElementWhite">
        <h1> BLOOD PRODUCT INFORMATION </h1>
    </div>
    <div class="addForm">
        <h3> ADD BLOOD PRODUCT </h3>
        <form id="insert3">
            Product Type:<br>
            <input type="text" name="typeProductInput"><br>
            Product ABO/Rh:<br>
            <input type="text" name="productABORhInput"><br>
            Donor Unit ID Bar Code:<br>
            <input type="text" name="donorUnitIDBarCodeInput"><br>
            Donor Unit Product Code:<br>
            <input type="text" name="donorUnitProductCodeInput"><br>
            Unit Arrval (DATE):<br>
            <input type="date" name="unitArrivalInput"><br>
            Unit Expiration (DATE):<br>
            <input type="date" name="unitExpirationInput"><br>
            Unit History:<br>
            <input type="text" name="unitHistoryInput"><br>
            Hospital Source:<br>
            <input type="text" name="hospitalSourceInput"><br>
            Supplier Source:<br>
            <input type="text" name="supplierSourceInput"><br>
            <input type="submit" value="Submit" id="addBloodProductBtn">
        </form>

        <h3>Table with update and delete buttons</h3>

        <table border="1" id = "bloodProductTable">
        <thead>
            <th>Blood Product Type</th>
            <th>ABO/Rh</th>
            <th>Unit ID</th>
            <th>Product Code</th>
            <th>Arrival Date</th>
            <th>Expiration Date</th>
            <th>Current Status</th>
            <th>Hospital Source</th>
            <th>Supplier Source</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each results}}
                <tr>
                    <td>{{this.typeProduct}}</td>
                    <td>{{this.productABORh}}</td>
                    <td>{{this.donorUnitIDBarCode}}</td>
                    <td>{{this.donorUnitProductCode}}</td>
                    <td>{{this.unitArrival}}</td>
                    <td>{{this.unitExpiration}}</td>
                    <td>{{this.unitHistory}}</td>
                    <td>{{this.hospitalSource}}</td>
                    <td>{{this.supplierSource}}</td>
                    <td><a href="/editTable?id={{this.id}}"><input type="button" type="button" value="edit"></a></td>
                    <td><button type="button" onclick="DeleteTableRow({{this.id}})">DELETE</button></td>
            
                </tr>
            {{/each}}
        </tbody> 
        </table>
    </div>

</div>