
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                BLOOD BANK DATABASE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
        	<li><a href="/hospital">Hospital</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/blood_product">Blood Product</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/antigen_history">Antigen History</a></li>
            <li><a href="/antigen">Antigen</a></li>
            <li><a href="/antibody">Antibody</a></li>
        </ul>

    </div>
</nav>

<div class="main">
    <div class="h1ElementWhite">
        <h1> SUPPLIER INFORMATION </h1>
    </div>

    <div class="addForm">
        <h3> ADD SUPPLIER</h3>
        <form id = "addSupplier" action="/supplier" method="post">
            Supplier Name:<br>
            <input type="text" name="supplierNameInput"><br>
            Supplier Address Street:<br>
            <input type="text" name="supplierStreetInput"><br>
            Supplier Address City:<br>
            <input type="text" name ="supplierCityInput"><br>
            Supplier Address State:<br>
            <input type="text" name="supplierStateInput"><br>
            Supplier Address Zipcode:<br>
            <input type="text" name="supplierZipcodeInput"><br>
            Supplier Address Country:<br>
            <input type="text" name="supplierCountryInput"><br>
            <input type="submit" value="Submit" id="addSupplierBtn">
        </form>

        <h3>Table with update and delete buttons</h3>

        <table border="1" id = "supplierTable">
        <thead>
            <th>Supplier Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each suppliers}}
                <tr>
                    <td>{{supplierName}}</td>
                    <td>{{street}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td>{{zipcode}}</td>
                    <td>{{country}}</td>
                    <td><a href="/supplier/{{supplierID}}">Update</a></td>
                    <td><button type="button" onclick="deleteSupplier({{supplierID}})">DELETE</button></td>
                </tr>
            {{/each}}
        </tbody> 
        </table>
    </div>

</div>
